@media(max-width:375px){
    .encabezado{
        height: 4.8rem;
        p{
            font-size: 2.2rem;
            margin-top: -1.4rem;
            margin-left: 6.5rem;
            }
    }
    .naVbar{
        font-size: 9px;
        margin-left: 2rem;
        margin-top: -2.8rem;
    }

    .tituloYSubtitulo img{
        height: 17rem;
    }


    .tituloYSubtitulo h1{
        font-size: 1.6rem;
            margin-top: -10rem;
            margin-left: 12.5rem;
    }
    .tituloYSubtitulo h2{
        font-size: 12.5px;
            margin-left: 12.5rem;
            margin-top: -14rem;
    }
    .sectionParrafoUno{
        height: 21rem;
        h2{
            font-size: 1rem;
            margin-left: 1rem;
        }
        .parrAfouno{
            font-size: 0.7rem;
            padding: 10px 20px;
            margin-left: 1rem;
        }
        .parrAfodos{
            font-size: 0.7rem;
            padding: 10px 20px;
            height: 3.5rem;
            margin-left: -9rem;
        }
}

.conFiarr{
    height: 120rem;
    h2{
        margin-top: 1rem;
        margin-left: -0.2rem;
    }
    img{
        margin-top: 1rem;
        margin-left: 4rem;
    }
    p{
        margin-top: -8rem;
        margin-left: 4rem;
        padding: 20px 20px;
    }
}
.soMos{
    height: 75rem;
    h2{
        font-size: 4.5rem;
        margin-left: -10rem;
    }
    h3{
        font-size: 1.1rem;
        width: 19rem;
        margin-top: 58rem;
        margin-left: -19rem;
    }
}

.parrAfos{
    left: 5.5rem;
    top: 61rem;
    
}

.lucasImagen{ 
    left: 20%;
}

.texTolucas{
    left: 20%;

}

.pepeImagen{
    left: 20%;
}

.pepeTexto{
    left: 20%;

}

.joseImagen{
    left: 20%;

}

.joseTexto{
    left: 20%;
}

.andreaImagen{
    left: 20%;
}

.andreTexto{
    left: 20%;
}

.tituloDonar{
    left: 3rem ;
}
.textoDonar{
    font-size: 1.16rem;
    left: 1.8rem;
}
button{
    margin-right: -45.8rem;
    
}
.paYpal{
    left: 1.875rem;
}

.merCado{
    left: 7.25rem;
}

.viSa{
    left: 12.5rem;
}

.tituLosugerencia{
    left: 3.1rem ;
}

.tituLosugerencia2{
    margin-left: 2rem;
}

label{
    margin-left: 3.2rem;
}

.texTarea{
    margin-left: -24rem;
}

.botoNsugerencia{
    margin-left: -16.6rem;
}
}