@media(max-width:320px){
    .encabezado{
        height: 4.55rem;
        p{
            font-size: 2.2rem;
            margin-top: -1.2rem;
            margin-left: 4.8rem;
            }
    }

    .naVbar{
        font-size: 0.49rem;
        margin-left: 1rem;
        margin-top: -2.5rem;
    }

    .tituloYSubtitulo img{
        height: 14rem;
    }

    .tituloYSubtitulo h1{
        font-size: 1.45rem;
            margin-top: -8.5rem;
            margin-left: 10.5rem;
    }

    .tituloYSubtitulo h2{
        font-size: 11.8px;
            margin-left: 10.3rem;
            margin-top: -12.8rem;
    }
    .sectionParrafoUno{
        height: 19.5rem;
    .parrAfouno{
        font-size: 0.7rem;
        padding: 8px 20px;
        margin-left: 1rem;
        margin-top: -48.5rem;
    }
    .parrAfodos{
        font-size: 0.7rem;
        padding: 10px 20px;
        height: 3.5rem;
        margin-left: -9rem;
        margin-top: -42rem;
    }
    }

    .conFiarr{
        height: 120rem;
        h2{
            width: 24.5rem;
            height: 9rem;
            font-size: 2.1rem;
            margin-top: 1rem;
            margin-left: -0.2rem;
        }
        img{
            width: 13rem ;
            height: 17rem;
            margin-top: 1rem;
            margin-left: 2.3rem;
        }
        p{
            font-size: 1.2rem;
            width: 13rem;
            height: 10.5rem;
            margin-top: -8rem;
            margin-left: 2.3rem;
            padding: 20px 20px;
        }
    }

    footer{
        font-size: 1.1rem;
        padding:20px 0px 0px 20px;
    }
    .contActos div h3{
        font-size: 2.5rem;
    }
    .reDes div h3{
        font-size: 2.5rem;
    }


    .soMos{
        height: 75rem;
        h2{
            font-size: 4.5rem;
            width: 17rem;
            margin-left: -9.5rem;
        }
        h3{
            font-size: 1.29rem;
            width: 17rem;
            margin-top: 35rem;
            margin-right: 10rem;
        }
    }
    
    .parrAfos{
        left: 4.2rem;
        top: 61rem;
        p{
            font-size: 0.8rem;
            width: 15rem;
            height: 6rem;
            padding: 13px 18px;
        }
    }

    .lucasImagen{ 
        left: 16%;
    }
    
    .texTolucas{
        left: 16%;
    
    }
    
    .pepeImagen{
        left: 16%;
    }
    
    .pepeTexto{
        left: 16%;
    
    }
    
    .joseImagen{
        left: 16%;
    
    }
    
    .joseTexto{
        left: 16%;
    }
    
    .andreaImagen{
        left: 16%;
    }
    
    .andreTexto{
        left: 16%;
    }

    .tituloDonar{
        left: 1.1rem ;
    }
    .textoDonar{
        font-size: 1.1rem;
        left: 1rem;
        width: 18rem;
    }
    button{
        margin-right: -47.5rem;
        
    }
    .paYpal{
        left: 0.0625rem
    }
    
    .merCado{
        left: 5.75rem;
    }
    
    .viSa{
        left: 11.25rem;
    }

    .tituLosugerencia{
        left: 1.3rem ;
    }
    
    .tituLosugerencia2{
        font-size: 1rem;
        margin-right: 1.5rem;

    }
    
    label{
        margin-left: 2rem;
    }
    
    .texTarea{
        margin-left: -25.5rem;
        width: 16rem;
    }
    
    .botoNsugerencia{
        margin-left: -18.6rem;
    }














}










































